beautifulsoup4
pandas
requests
datetime
selenium
geopy
ipykernel
nbformat
jupyter
anywidget
kaleido
plotly-resampler
geo
matplotlib
shapely
geodatasets
geopandas
cartopy
scipy
scikit-learn
nltk
transformers
torch
torchvision
torchaudio
genai